{% extends "index.html" %}

{% block content %}

{% include "alert.html" %}

<form method="POST" action="/authors/add">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Surname</label>
        <input type="text" class="form-control" id="surname" name="surname" required>
    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <textarea class="form-control" id="bio" name="bio" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}